.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.hover-focus:hover {
    /* background-color: rgb(230, 224, 238);
    color: white; */
    font-weight: 150;
    cursor: pointer;
}
.vh-overflow-80 {
    height: 80vh;
    overflow-y: auto;
}
.font-size-8 {
    font-size: 0.8em;
}
.checkin-user-name {
    font-weight: bold;
    padding-bottom: 5px;
}
.checkin-user-details {
    font-size: 14px;
}
.checkin-user-details span {
    padding-left: 15px;
}
#checkinsTable thead {
    display: none;
}
.table > thead > tr > th {
    font-weight: bold;
}
.child-img {
    max-width: 150px
}
.bootstrap-autocomplete a.disabled {
    pointer-events: none;
    color: gray;
    cursor: not-allowed;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  }
  .bootstrap-dialog-header {
      width: 100%;
  }

  .post-main .post-img {
border: 1px solid #ccc;
padding: 1px;
  }

   .post-main .post-title {
       font-weight: bold;
       font-size: 16px;
   }

   .post-main .post-desc{
       padding-bottom: 5px;

   }
   .post-main .post-email{
    padding-bottom: 5px;

}

#postTable thead {
    display: none;
}

#pastorTable_wrapper thead {
    display: none;
}

#pastorTable tr,#pastorTable td {
    border: none;
}

.post-section .fb-contact{
    bottom: 0;
    position: absolute;
}
.post-section .fb-contact span{
    padding-right: 10px;
}
