.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.hover-focus:hover {
    /* background-color: rgb(230, 224, 238);
    color: white; */
    font-weight: 150;
    cursor: pointer;
}
.vh-overflow-80 {
    height: 80vh;
    overflow-y: auto;
}
.font-size-8 {
    font-size: 0.8em;
}
.checkin-user-name {
    font-weight: bold;
    padding-bottom: 5px;
}
.checkin-user-details {
    font-size: 14px;
}
.checkin-user-details span {
    padding-left: 15px;
}
#checkinsTable thead {
    display: none;
}
.table > thead > tr > th { 
    font-weight: bold; 
}
td { 
    font-size: 11px; 
    padding:0px;
}
.table > tbody > tr > td, .table > thead > tr > th,
.dataTables_length, .dataTables_length .form-control
{
    padding: 5px 7px;
    font-size:12px !important;
}
.dataTables_filter, .dataTables_filter input, .dataTables_info, .pagination, .pagination li{
    font-size: 12px;
}